<footer>
    <nav>
<!--        <a href='https://wonyong-jang.github.io/' target='_blank'>Blog</a> |-->
        <a href='https://github.com/choiseongho1/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/choiseongho1/pharmacy</span><br>
    </p>
</footer>